@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');
@import url('https://fonts.cdnfonts.com/css/berkshire-swash');

html {
    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh;
}

.light {
    background-color: #d5d5d5 !important;
    color: #000 !important;
}

.dark {
    background-color: #141414 !important;
    color: #f5f5f5 !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #dc3545;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: #141414;
}

::selection {
    background-color: #dc3545;
    color: #fff;
}

.section-home {
    animation: initialize .7s forwards;
    font-family: 'Poppins';
    font-weight: normal;
}

.section-about {
    animation: none !important;
    font-family: 'Poppins';
    font-weight: normal;
}

.section-tech {
    animation: none !important;
    font-family: 'Poppins';
    font-weight: normal;
}

.section-mobile {
    animation: none !important;
    font-family: 'Poppins';
    font-weight: normal;
}

.cv {
    padding: 0.938rem 2.5rem;
    border-radius: 0.313rem;
    border: .120rem solid #dc3545 !important;
}

.description {
    font-family: 'Poppins';
    font-weight: 200;
    letter-spacing: 0.063rem;
}

.description-bold {
    font-family: 'Poppins';
    font-weight: 600;
    letter-spacing: 0.063rem;
}

.bold {
    font-weight: bold !important;
}

.img-author {
    max-width: 100%;
}

.typing::after {
    content: '|';
    margin-left: 0.313rem;
    opacity: 1;
    animation: blink .5s infinite;
    color: #dc3545;
    font-weight: bold;
}

.points {
    display: block;
    height: 0.625rem;
    width: 0.625rem;
    border-radius: 50%;
    background-color: #dc3545;
}

/* PAGINA SOBRE */
.img-about {
    animation: ladoSecao .5s ease-in-out forwards;
    max-width: 100%;
    border: .150rem solid #aaa;
}

.info-about {
    animation: sobeSecao .6s ease-in-out forwards;
}

/* PAGINA TECK */

.card {
    animation: desceSecao .8s ease-in-out forwards;
    height: 200px !important;
}

.card::before {
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

.card::after {
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

.card:hover::before {
    width: 100%;
    height: 100%;
    border-top: 2px solid #dc3545;
    border-right: 2px solid #dc3545;
}

.card:hover::after {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #dc3545;
    border-left: 2px solid #dc3545;
}

/* PAGINA MOBILE */
.nav-mobile {
    animation: ladoSecao .7s ease-in-out;
}

/* DARK MODE */
/* .dark-mode {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.75em;
    box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.3) inset;
    color: #dc3545;
    display: inline-flex;
    align-items: center;
    margin: auto;
    padding: 0.15em;
    width: 3em;
    height: 1.5em;
    transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.dark-mode:before, .dark-mode:after {
    content: "";
    display: block;
}

.dark-mode:before {
    background-color: #d7d7d7;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    z-index: 1;
}

.dark-mode:after {
    background:
        linear-gradient(transparent 50%, rgba(0, 0, 0, 0.15) 0) 0 50% / 50% 100%,
        repeating-linear-gradient(90deg, #bbb 0, #bbb, #bbb 20%, #999 20%, #999 40%) 0 50% / 50% 100%,
        radial-gradient(circle at 50% 50%, #888 25%, transparent 26%);
    background-repeat: no-repeat;
    border: 0.25em solid transparent;
    border-left: 0.4em solid #d8d8d8;
    border-right: 0 solid transparent;
    transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    transform: translateX(-22.5%);
    transform-origin: 25% 50%;
    width: 1.2em;
    height: 1em;
} */

/* Checked */
/* .dark-mode:checked {
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.1) inset;
}

.dark-mode:checked:before {
    background-color: currentColor;
    transform: translateX(125%)
}

.dark-mode:checked:after {
    border-left-color: currentColor;
    transform: translateX(-2.5%) rotateY(180deg);
} */

/* Other States */
/* .dark-mode:focus { */
    /* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
    /* outline: 0;
} */

/* KEY FRAMES */

/* EFEITO PISCAR TELA */
@keyframes blink {
    from {
        opacity: 1;

    }

    to {
        opacity: 0;

    }
}

@keyframes initialize {
    from {
        opacity: 0;
        transform: translate3d(0, -3.75rem, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* EFEITO DESLIZAR DESCRIÇÃO SOBRE */

@keyframes sobeSecao {
    from {
        transition: .5s;
        transform: translate3d(3.75rem, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/* EFEITO DESLIZAR IMG SOBRE */

@keyframes ladoSecao {
    from {
        transition: .5s;
        transform: translate3d(-3.75rem, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/* EFEITO DESCER SEÇÃO */

@keyframes desceSecao {

    from {
        transition: .5s;
        transform: translate3d(0, -4.75rem, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/* RESPONSIVIDADE */

@media (max-width: 766px) {
    /* PAGINA MOBILE */
    .link::after {
        content: '';
        width: 10px;
        height: 0px;
        display: block;
        border-bottom: 4px solid #dc3545;
        transition: .9s;
    }

    .link:hover::after {
        width: 100%;
        height: 0px;
        padding: 0px;
        border-bottom: 4px solid #dc3545;
    }

    .cv {
        color: #fff;
        padding: 0.65rem 0.695rem;
        border-radius: 0.313rem;
        text-decoration: none;
        font-size: .6rem !important;
    }

    .section-tech {
        padding-bottom: 4rem !important;
    }
}

/* ATÉ 767 (SM) */
@media (max-width: 47.938rem) {
    .section-home {
        padding-left: 4.125rem;
    }

    .toggle {
        display: block;
    }

    .cv {
        color: #fff;
        padding: 0.65rem 0.695rem;
        border-radius: 0.313rem;
        text-decoration: none;
    }

    .title {
        font-size: 21px;
    }

    .typing {
        font-size: 21px;
    }

    /* PAGINA SOBRE */
    .title-header {
        display: none;
    }

    .section-about {
        padding-right: 200px !important;
    }

    .info-author {
        display: flex !important;
    }

    /* PAGINA MOBILE */
    .link::after {
        content: '';
        width: 10px;
        height: 0px;
        display: block;
        border-bottom: 4px solid #dc3545;
        transition: .9s;
    }

    .link:hover::after {
        width: 100%;
        height: 0px;
        padding: 0px;
        border-bottom: 4px solid #dc3545;
    }

    .section-tech {
        padding-bottom: 4rem !important;
    }
}

/* A PARTIR DA RESOLUÇÃO 768 (MD) */
@media (min-width: 48rem) {
    .section-home {
        padding-left: 15.625rem;
    }

    .toggle {
        display: block;
    }

    .cv {
        color: #fff;
        padding: 0.938rem 2.4rem;
        border-radius: 0.313rem;
        text-decoration: none;
    }

    /* PAGINA SOBRE */
    .title-header {
        display: none;
    }

    .info-author {
        display: none !important;
    }

    /* PAGINA MOBILE */
    .link::after {
        content: '';
        width: 10px;
        height: 0px;
        display: block;
        border-bottom: 4px solid #dc3545;
        transition: .9s;
    }

    .link:hover::after {
        width: 100%;
        height: 0px;
        padding: 0px;
        border-bottom: 4px solid #dc3545;
    }

    .section-tech {
        padding-bottom: 4rem !important;
    }
}

/* A PARTIR DA RESOLUÇÃO 992 (LG) */
@media (min-width: 62rem) {
    .section-home {
        padding-left: 0rem;
    }

    .toggle {
        display: none;
    }

    .img-author {
        margin-top: 1.875rem;
        margin-left: 0rem !important;
    }

    /* PAGINA SOBRE */
    .title-header {
        display: none;
    }

    .info-author {
        display: flex !important;
    }

    /* PAGINA MOBILE */
    .link::after {
        display: none;
    }

    .link:hover::after {
        display: none;
    }
}

/* A PARTIR DA RESOLUÇÃO 1200 (XL) */
@media (min-width: 75rem) {
    .section-home {
        padding-left: 0rem;
    }

    .img-author {
        margin-top: -1rem;
    }

    /* PAGINA SOBRE */
    .title-header {
        display: none;
    }

    .info-author {
        display: flex !important;
    }

    /* PAGINA MOBILE */
    .section-tech {
        padding: 0 !important;
    }
}

/* A PARTIR DA RESOLUÇÃO 1400 (XXL) */
@media (min-width: 87.5rem) {
    .section-home {
        padding-left: 0rem;
    }

    /* PAGINA SOBRE */
    .img-about {
        max-width: 90%;
        margin-top: 0rem;
    }

    .title-header {
        display: none;
    }

    .info-author {
        display: flex !important;
    }

    /* PAGINA MOBILE */
    .section-tech {
        padding: 0 !important;
    }
}

/* A PARTIR DA RESOLUÇÃO 1600 (CUSTOM) */
@media (min-width: 100rem) {
    .section-home {
        padding-left: 0rem;
    }

    /* PAGINA SOBRE */
    .img-about {
        max-width: 90%;
        margin-top: 0rem;
    }

    .title-header {
        display: block;
        margin-top: -15px !important;
    }

    .info-author {
        display: flex !important;
    }

    /* PAGINA MOBILE */
    .section-tech {
        padding: 0 !important;
    }
}